@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url("imagens/palmeiras-baixe-poster.jpg");
    background-position: center center;
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -20px;
}

header {
    background-image: linear-gradient(to bottom, #294C2D, transparent);
    color: white;
    padding: 30px;
}

h1 {
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

p {
    background-color: white;
    color: #294C2D;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    width: 140px;
    margin-left: 90%;
    margin-top: 0%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #294C2D;
}

img.palmeiras {
    margin-top: -20px;
    max-width: 150px;
}

